In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("C:/Users/ACER/OneDrive - University of Jaffna/UOJ/Education/Research/Data Sets/GSE140842/data2.csv", index_col=0)

In [3]:
df.head()

,Diagnosis,OR4F5,AL627309.1,OR4F29,OR4F16,AL669831.1,AL645608.2,SAMD11,NOC2L,KLHL17,...,MT-CO2,MT-ATP8,MT-ATP6,MT-CO3,MT-ND3,MT-ND4L,MT-ND4,MT-ND5,MT-ND6,MT-CYB
SEQ12179,0,5.181797,6.179015,4.727253,4.727253,5.181797,4.727253,6.448955,6.668955,6.348396,...,5.181797,4.727253,4.727253,4.727253,4.727253,4.727253,4.727253,4.727253,4.727253,5.181797
SEQ12182,1,4.727253,6.085531,5.102764,5.256828,5.374064,5.634632,6.291008,6.558533,6.039314,...,4.727253,4.727253,4.727253,4.727253,4.727253,4.727253,5.102764,4.727253,4.727253,5.374064
SEQ12199,0,5.236380,7.428169,5.349217,5.443627,5.236380,5.236380,6.733031,7.013539,6.756903,...,4.727253,4.727253,4.727253,5.526190,4.727253,4.727253,5.236380,4.727253,4.727253,5.236380
SEQ12196,1,5.145956,6.904024,5.145956,4.727253,5.210170,5.266549,6.653595,6.986734,6.698891,...,4.969556,4.727253,4.727253,4.727253,4.727253,4.727253,4.727253,4.969556,4.727253,5.069520
SEQ12201,0,5.467904,7.098594,5.253815,5.420998,5.100616,5.315164,6.663280,6.852839,6.780346,...,5.100616,4.727253,4.727253,4.727253,4.727253,4.727253,4.727253,4.991628,4.727253,4.727253

In [4]:
from sklearn.feature_selection import SelectKBest, mutual_info_classif

# Assuming 'df' contains your dataset

X = df.drop('Diagnosis', axis=1)
y = df['Diagnosis']

Feature_Names = X.columns

# Perform feature selection using mutual information with a classifier
# k_values = [10, 15, 25, 50, 100, 150,175,180, 200]  # Number of top features to select
k_values = [75]
# Create a dictionary to store the selected features for each k value
selected_features_dict = {}

for k in k_values:
    selector = SelectKBest(score_func=mutual_info_classif, k=k)
    X_new = selector.fit_transform(X, y)

    selected_features = [Feature_Names[i] for i in selector.get_support(indices=True)]

    selected_features_dict[k] = selected_features

    new_df = pd.DataFrame(X_new, columns=selected_features, index=df.index)
    new_df['Diagnosis'] = y.values

    # Save the DataFrame to a CSV file with a custom path and a name indicating the value of k
    file_path = f"C:/Users/ACER/OneDrive - University of Jaffna/UOJ/Education/Research/Data Sets/GSE140842/Feature Selection/Information Gain/data_k_{k}.csv"
    new_df.to_csv(file_path)

# Print the selected features for each k value
for k, features in selected_features_dict.items():
    print(f"Top {k} Features: {features}")

Top 75 Features: ['PLOD1', 'FAM159A', 'LCE1E', 'RHBG', 'MROH9', 'GRHL1', 'CEBPZ', 'MFSD9', 'CCDC115', 'TMEM169', 'IL17RC', 'RBM5', 'ODAM', 'NFKB1', 'UCP1', 'ASIC5', 'GALNTL6', 'LIFR', 'SNX18', 'WDR55', 'PDGFRB', 'MRS2', 'BTN2A2', 'VPS52', 'EPB41L2', 'UNCX', 'MALSU1', 'PEX1', 'FLJ00325', 'ZNF398', 'C8orf22', 'DMRT2', 'UBQLN1', 'S1PR3', 'MINPP1', 'CALHM1', 'ZNF143', 'TRPT1', 'DHCR7', 'LRTOMT', 'P2RY6', 'RDH16', 'TPCN1', 'CCDC60', 'ZMYM5', 'RAB20', 'C14orf39', 'IGDCC4', 'FEM1B', 'HS3ST6', 'TBC1D24', 'UMOD', 'PAPD5', 'DNAAF1', 'ANKFY1', 'MSL1', 'GPR142', 'RAC3', 'ANGPTL6', 'OR1I1', 'CYP4F2', 'ZNF676', 'CCDC8', 'LIM2', 'EPS8L1', 'ZNF71', 'SLC27A5', 'C20orf194', 'CTSA', 'CLDN17', 'CLDN8', 'TCN2', 'EFCAB6', 'EDA2R', 'CTAG1A']