In [6]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv("data2.csv", index_col=0)

In [8]:
df.head()

,Diagnosis,OR4F5,AL627309.1,OR4F29,OR4F16,AL669831.1,AL645608.2,SAMD11,NOC2L,KLHL17,...,MT-CO2,MT-ATP8,MT-ATP6,MT-CO3,MT-ND3,MT-ND4L,MT-ND4,MT-ND5,MT-ND6,MT-CYB
SEQ12179,0,5.181797,6.179015,4.727253,4.727253,5.181797,4.727253,6.448955,6.668955,6.348396,...,5.181797,4.727253,4.727253,4.727253,4.727253,4.727253,4.727253,4.727253,4.727253,5.181797
SEQ12182,1,4.727253,6.085531,5.102764,5.256828,5.374064,5.634632,6.291008,6.558533,6.039314,...,4.727253,4.727253,4.727253,4.727253,4.727253,4.727253,5.102764,4.727253,4.727253,5.374064
SEQ12199,0,5.236380,7.428169,5.349217,5.443627,5.236380,5.236380,6.733031,7.013539,6.756903,...,4.727253,4.727253,4.727253,5.526190,4.727253,4.727253,5.236380,4.727253,4.727253,5.236380
SEQ12196,1,5.145956,6.904024,5.145956,4.727253,5.210170,5.266549,6.653595,6.986734,6.698891,...,4.969556,4.727253,4.727253,4.727253,4.727253,4.727253,4.727253,4.969556,4.727253,5.069520
SEQ12201,0,5.467904,7.098594,5.253815,5.420998,5.100616,5.315164,6.663280,6.852839,6.780346,...,5.100616,4.727253,4.727253,4.727253,4.727253,4.727253,4.727253,4.991628,4.727253,4.727253

In [9]:
X = df.drop('Diagnosis', axis=1)
y = df['Diagnosis']

Feature_Names = X.columns

# Calculate the Pearson correlation coefficient between each feature and the target variable
correlations = X.apply(lambda feature: np.abs(feature.corr(y)))

# Sort the features based on their absolute correlation values
sorted_features = correlations.sort_values(ascending=False)

# Select the top k features with the highest absolute correlation
k = 200  # Number of top features to select
selected_features = sorted_features[:k].index.tolist()

# Create a new DataFrame with the selected features and target variable
new_df = X[selected_features].copy()
new_df.loc[:, 'Diagnosis'] = y.values

# Print the new DataFrame
print(new_df.head())

            KCTD20     OR1I1     DPEP2  AC079341.1       NUMB     FADS2  \
SEQ12179  8.240872  5.367471  5.508236    4.727253  10.060310  8.240872
SEQ12182  8.136873  4.727253  5.374064    5.102764   9.933748  8.030308
SEQ12199  8.271565  4.727253  5.236380    5.088189   9.856678  8.325399
SEQ12196  8.146757  5.447511  5.407086    5.145956   9.913524  8.225305
SEQ12201  8.235011  5.253815  5.253815    4.991628   9.865111  8.401370

            ZNF737   CAMK2N1   EFCAB12      STX2  ...    OR14A2      CILP  \
SEQ12179  5.902110  4.727253  6.923985  7.846788  ...  5.181797  6.294684
SEQ12182  6.432256  5.374064  6.943330  7.893038  ...  5.472096  6.497036
SEQ12199  6.035944  5.236380  7.354749  8.087722  ...  4.727253  6.270923
SEQ12196  6.230470  5.317346  7.072946  7.962161  ...  5.069520  6.012984
SEQ12201  6.185253  5.183896  7.069008  8.230700  ...  4.727253  6.301336

            OR7E24     SYTL2     CEBPD     NFATC2    CDC123    RASAL1  \
SEQ12179  4.727253  7.526536  5.181797  10.016642  8.228074  6.890488
SEQ12182  5.102764  7.904085  4.727253   9.931082  8.209632  6.943330
SEQ12199  4.727253  7.538060  5.088189   9.920143  8.131646  7.324244
SEQ12196  5.363900  7.708320  5.069520   9.814927  8.347277  6.904024
SEQ12201  4.991628  7.703068  4.991628  10.109655  8.269036  7.272221

             FBLL1  Diagnosis
SEQ12179  5.367471          0
SEQ12182  4.727253          1
SEQ12199  5.667940          0
SEQ12196  5.363900          1
SEQ12201  5.467904          0

[5 rows x 201 columns]

In [10]:
new_df.to_csv("data4.csv")