In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [2]:
# read csv file with change axis
df = pd.read_csv("data1.csv", index_col=0).T

df

C:\Users\ACER\AppData\Local\Temp\ipykernel_24804\1447417646.py:2: DtypeWarning: Columns (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("data1.csv", index_col=0).T

,Diagnosis,OR4F5,AL627309.1,OR4F29,OR4F16,AL669831.1,AL645608.2,SAMD11,NOC2L,KLHL17,...,MT-CO2,MT-ATP8,MT-ATP6,MT-CO3,MT-ND3,MT-ND4L,MT-ND4,MT-ND5,MT-ND6,MT-CYB
SEQ12179,DR,5.181797022,6.179014565,4.727253356,4.727253356,5.181797022,4.727253356,6.448955465,6.66895539,6.34839585,...,5.181797,4.727253,4.727253,4.727253,4.727253,4.727253,4.727253,4.727253,4.727253,5.181797
SEQ12182,Non-DR,4.727253356,6.085530542,5.102763929,5.256827653,5.37406351,5.634631559,6.291008171,6.558533119,6.039314314,...,4.727253,4.727253,4.727253,4.727253,4.727253,4.727253,5.102764,4.727253,4.727253,5.374064
SEQ12199,DR,5.236380368,7.428169178,5.349217022,5.443627329,5.236380368,5.236380368,6.733031124,7.013538725,6.75690264,...,4.727253,4.727253,4.727253,5.52619,4.727253,4.727253,5.23638,4.727253,4.727253,5.23638
SEQ12196,Non-DR,5.145955591,6.90402372,5.145955591,4.727253356,5.210169927,5.266549244,6.653595459,6.986734129,6.69889087,...,4.969556,4.727253,4.727253,4.727253,4.727253,4.727253,4.727253,4.969556,4.727253,5.06952
SEQ12201,DR,5.467903931,7.098593711,5.253815068,5.420998474,5.100616046,5.315164011,6.6632802,6.852839475,6.780345701,...,5.100616,4.727253,4.727253,4.727253,4.727253,4.727253,4.727253,4.991628,4.727253,4.727253
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
SEQ12152,DR,4.727253356,6.252878989,5.138388163,5.306751582,5.138388163,5.434663634,6.298541599,6.889043934,5.929725299,...,5.306752,4.727253,5.634661,5.306752,5.138388,5.138388,5.794216,5.634661,5.138388,5.718143
SEQ12203,DR,5.296185108,7.25458745,5.296185108,5.382809844,5.19277786,5.19277786,6.301073776,6.845912375,6.625351947,...,4.727253,4.727253,4.727253,5.05714,5.05714,4.727253,5.05714,5.458652,4.727253,5.192778
SEQ12173,Non-DR,5.239277716,6.071908062,5.023901827,4.727253356,5.146045155,5.023901827,6.154226215,6.624792476,6.100055582,...,4.727253,4.727253,5.023902,4.727253,4.727253,4.727253,4.727253,5.146045,4.727253,4.727253
SEQ12151,DR,5.174407188,7.287373649,5.174407188,5.174407188,5.357143627,5.357143627,6.755437312,6.755437312,6.558687587,...,5.174407,4.727253,4.727253,4.727253,5.174407,4.727253,4.727253,5.174407,4.727253,4.727253
SEQ12172,Non-DR,5.17967925,5.81412704,5.364511873,5.17967925,5.047819406,5.364511873,6.441703554,6.534170232,6.20265851,...,4.727253,5.047819,4.727253,5.047819,4.727253,4.727253,4.727253,5.179679,4.727253,4.727253

In [3]:
df.describe()

,Diagnosis,OR4F5,AL627309.1,OR4F29,OR4F16,AL669831.1,AL645608.2,SAMD11,NOC2L,KLHL17,...,MT-CO2,MT-ATP8,MT-ATP6,MT-CO3,MT-ND3,MT-ND4L,MT-ND4,MT-ND5,MT-ND6,MT-CYB
count,70,70,70,70,70,70,70,70,70,70,...,70.000000,70.000000,70.000000,70.000000,70.000000,70.000000,70.000000,70.000000,70.000000,70.000000
unique,2,66,70,67,63,70,67,70,70,70,...,37.000000,11.000000,25.000000,33.000000,11.000000,14.000000,40.000000,49.000000,12.000000,40.000000
top,DR,4.727253356,6.179014565,4.727253356,4.727253356,5.181797022,4.727253356,6.448955465,6.66895539,6.34839585,...,4.727253,4.727253,4.727253,4.727253,4.727253,4.727253,4.727253,4.727253,4.727253,4.727253
freq,35,5,1,4,8,1,4,1,1,1,...,34.000000,60.000000,46.000000,38.000000,60.000000,57.000000,31.000000,22.000000,59.000000,31.000000

In [4]:
df.dtypes

Diagnosis     object
OR4F5         object
AL627309.1    object
OR4F29        object
OR4F16        object
               ...
MT-ND4L       object
MT-ND4        object
MT-ND5        object
MT-ND6        object
MT-CYB        object
Length: 18602, dtype: object

In [5]:
df.isnull().sum()

Diagnosis     0
OR4F5         0
AL627309.1    0
OR4F29        0
OR4F16        0
             ..
MT-ND4L       0
MT-ND4        0
MT-ND5        0
MT-ND6        0
MT-CYB        0
Length: 18602, dtype: int64

In [6]:
df.head()

,Diagnosis,OR4F5,AL627309.1,OR4F29,OR4F16,AL669831.1,AL645608.2,SAMD11,NOC2L,KLHL17,...,MT-CO2,MT-ATP8,MT-ATP6,MT-CO3,MT-ND3,MT-ND4L,MT-ND4,MT-ND5,MT-ND6,MT-CYB
SEQ12179,DR,5.181797022,6.179014565,4.727253356,4.727253356,5.181797022,4.727253356,6.448955465,6.66895539,6.34839585,...,5.181797,4.727253,4.727253,4.727253,4.727253,4.727253,4.727253,4.727253,4.727253,5.181797
SEQ12182,Non-DR,4.727253356,6.085530542,5.102763929,5.256827653,5.37406351,5.634631559,6.291008171,6.558533119,6.039314314,...,4.727253,4.727253,4.727253,4.727253,4.727253,4.727253,5.102764,4.727253,4.727253,5.374064
SEQ12199,DR,5.236380368,7.428169178,5.349217022,5.443627329,5.236380368,5.236380368,6.733031124,7.013538725,6.75690264,...,4.727253,4.727253,4.727253,5.52619,4.727253,4.727253,5.23638,4.727253,4.727253,5.23638
SEQ12196,Non-DR,5.145955591,6.90402372,5.145955591,4.727253356,5.210169927,5.266549244,6.653595459,6.986734129,6.69889087,...,4.969556,4.727253,4.727253,4.727253,4.727253,4.727253,4.727253,4.969556,4.727253,5.06952
SEQ12201,DR,5.467903931,7.098593711,5.253815068,5.420998474,5.100616046,5.315164011,6.6632802,6.852839475,6.780345701,...,5.100616,4.727253,4.727253,4.727253,4.727253,4.727253,4.727253,4.991628,4.727253,4.727253

In [7]:
df["Diagnosis"] = df["Diagnosis"].astype('category').cat.codes

In [8]:
for col in df.columns:
    df[col] = pd.to_numeric(df[col], errors='coerce')

In [9]:
df.dtypes

Diagnosis        int8
OR4F5         float64
AL627309.1    float64
OR4F29        float64
OR4F16        float64
               ...
MT-ND4L       float64
MT-ND4        float64
MT-ND5        float64
MT-ND6        float64
MT-CYB        float64
Length: 18602, dtype: object

In [10]:
df.to_csv("data2.csv")