In [1]:
import pandas as pd

# Specify the file path to your text file
file_path = r'C:\Users\ACER\OneDrive - University of Jaffna\UOJ\Education\Research\Data Sets\GSE160310\totalRNA\GSE160306_human_retina_DR_totalRNA_counts.txt'

# Initialize empty lists to store data
data = []

# Read the text file line by line
with open(file_path, 'r') as file:
    for line in file:
        # Split each line into values using a comma as the delimiter
        values = line.strip().split(',')
        data.append(values)

# Create a DataFrame from the extracted data
df = pd.DataFrame(data)

# # Set the first row as the column headers
df.columns = df.iloc[0]

# # Drop the first row, which contains the column names
df = df[1:]

# Reset the index
df.reset_index(drop=True, inplace=True)

# Display the DataFrame
df
print(df)

df.to_csv('data0.csv', index=False)

0            ensemblID sample_09 sample_16 sample_43 sample_65 sample_07  \
0      ENSG00000000003        90       145       167       187       155
1      ENSG00000000005         0         1         2         0         2
2      ENSG00000000419       332       344       348       331       394
3      ENSG00000000457       728       920       843       739       885
4      ENSG00000000460       451       497       577       545       411
...                ...       ...       ...       ...       ...       ...
58046  ENSG00000283695         2         3         3         1         0
58047  ENSG00000283696        26        19        27        19        26
58048  ENSG00000283697         0         0         0         0         0
58049  ENSG00000283698         1         0         4         3         4
58050  ENSG00000283699         0         0         0         0         0

0     sample_64 sample_51 sample_19 sample_80  ... sample_18 sample_54  \
0           147       213       161       288  ...       317       128
1             0         2         2         1  ...         4         0
2           298       384       293       407  ...       489       364
3           659       718       612       963  ...       868       828
4           587       663       739       658  ...       489       579
...         ...       ...       ...       ...  ...       ...       ...
58046         0         1         1         0  ...         2         4
58047        19        24        10        19  ...        41        28
58048         0         0         0         0  ...         0         0
58049         0         1         1         2  ...         0         0
58050         0         0         0         0  ...         0         0

0     sample_03 sample_46 sample_34 sample_49 sample_23 sample_68 sample_44  \
0           135       143       297       174       123       179        92
1             3         2         3         1         1         1         1
2           265       371       555       346       336       295       336
3           395       553       725       673       712       683       675
4           525       535       486       379       438       421       406
...         ...       ...       ...       ...       ...       ...       ...
58046         1         1         0         1         0         0         1
58047         6        39        14        17        15        23        20
58048         0         0         0         0         0         0         0
58049         1         5         3         3         1         2         5
58050         0         0         0         0         0         0         0

0     sample_47
0           103
1             3
2           278
3           655
4           410
...         ...
58046         0
58047        18
58048         0
58049         2
58050         0

[58051 rows x 80 columns]

In [2]:
df = pd.read_csv("data0.csv", index_col=0).T
df.head()

ensemblID,ENSG00000000003,ENSG00000000005,ENSG00000000419,ENSG00000000457,ENSG00000000460,ENSG00000000938,ENSG00000000971,ENSG00000001036,ENSG00000001084,ENSG00000001167,...,ENSG00000283690,ENSG00000283691,ENSG00000283692,ENSG00000283693,ENSG00000283694,ENSG00000283695,ENSG00000283696,ENSG00000283697,ENSG00000283698,ENSG00000283699
sample_09,90,0,332,728,451,32,351,103,834,1536,...,0,0,1,0,0,2,26,0,1,0
sample_16,145,1,344,920,497,41,197,155,752,1702,...,0,0,1,0,0,3,19,0,0,0
sample_43,167,2,348,843,577,41,225,236,901,1421,...,0,0,4,0,0,3,27,0,4,0
sample_65,187,0,331,739,545,46,170,220,890,1220,...,0,0,3,0,0,1,19,0,3,0
sample_07,155,2,394,885,411,52,209,370,1202,1991,...,0,0,2,0,0,0,26,0,4,0

In [3]:
df.describe()

ensemblID,ENSG00000000003,ENSG00000000005,ENSG00000000419,ENSG00000000457,ENSG00000000460,ENSG00000000938,ENSG00000000971,ENSG00000001036,ENSG00000001084,ENSG00000001167,...,ENSG00000283690,ENSG00000283691,ENSG00000283692,ENSG00000283693,ENSG00000283694,ENSG00000283695,ENSG00000283696,ENSG00000283697,ENSG00000283698,ENSG00000283699
count,79.000000,79.000000,79.000000,79.000000,79.000000,79.000000,79.000000,79.000000,79.000000,79.000000,...,79.0,79.000000,79.000000,79.000000,79.0,79.000000,79.000000,79.000000,79.000000,79.000000
mean,190.898734,1.481013,346.177215,691.139241,530.291139,34.860759,184.303797,187.670886,922.341772,1408.518987,...,0.0,0.012658,3.531646,0.025316,0.0,1.075949,20.886076,0.050633,1.772152,0.037975
std,108.009211,1.385463,67.341411,175.547841,110.322157,20.838041,92.073320,82.294767,227.667148,305.944475,...,0.0,0.112509,2.973539,0.158088,0.0,1.083349,7.448950,0.272629,1.624724,0.250284
min,90.000000,0.000000,224.000000,351.000000,341.000000,7.000000,66.000000,58.000000,491.000000,833.000000,...,0.0,0.000000,0.000000,0.000000,0.0,0.000000,6.000000,0.000000,0.000000,0.000000
25%,131.000000,0.000000,298.000000,557.000000,454.500000,21.500000,119.500000,135.500000,774.000000,1163.000000,...,0.0,0.000000,2.000000,0.000000,0.0,0.000000,16.500000,0.000000,1.000000,0.000000
50%,167.000000,1.000000,339.000000,684.000000,519.000000,31.000000,170.000000,167.000000,890.000000,1370.000000,...,0.0,0.000000,3.000000,0.000000,0.0,1.000000,19.000000,0.000000,1.000000,0.000000
75%,211.000000,2.000000,386.000000,801.500000,592.000000,41.000000,220.500000,222.000000,1046.000000,1600.000000,...,0.0,0.000000,5.000000,0.000000,0.0,2.000000,24.500000,0.000000,3.000000,0.000000
max,762.000000,6.000000,555.000000,1119.000000,797.000000,123.000000,576.000000,491.000000,1704.000000,2114.000000,...,0.0,1.000000,15.000000,1.000000,0.0,4.000000,42.000000,2.000000,7.000000,2.000000

In [4]:
df.dtypes

ensemblID
ENSG00000000003    int64
ENSG00000000005    int64
ENSG00000000419    int64
ENSG00000000457    int64
ENSG00000000460    int64
                   ...
ENSG00000283695    int64
ENSG00000283696    int64
ENSG00000283697    int64
ENSG00000283698    int64
ENSG00000283699    int64
Length: 58051, dtype: object

In [5]:
df = df.sort_index()
df.to_csv('data1.csv')
df

ensemblID,ENSG00000000003,ENSG00000000005,ENSG00000000419,ENSG00000000457,ENSG00000000460,ENSG00000000938,ENSG00000000971,ENSG00000001036,ENSG00000001084,ENSG00000001167,...,ENSG00000283690,ENSG00000283691,ENSG00000283692,ENSG00000283693,ENSG00000283694,ENSG00000283695,ENSG00000283696,ENSG00000283697,ENSG00000283698,ENSG00000283699
sample_01,124,2,300,398,421,18,84,206,1024,883,...,0,0,2,0,0,2,17,0,2,0
sample_02,111,0,374,351,502,32,278,238,973,1975,...,0,0,1,0,0,2,13,0,4,0
sample_03,135,3,265,395,525,28,177,214,990,1580,...,0,0,2,0,0,1,6,0,1,0
sample_04,122,1,420,496,365,23,173,243,1149,967,...,0,0,4,0,0,1,18,0,2,0
sample_05,209,0,439,917,631,67,428,189,1161,1368,...,0,0,0,0,0,1,31,0,7,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
sample_76,235,1,431,1052,676,68,139,193,896,1589,...,0,0,5,0,0,0,34,0,0,0
sample_77,188,2,428,1119,797,44,183,144,862,1982,...,0,0,8,0,0,2,35,0,3,0
sample_78,347,1,228,554,350,33,576,325,1068,1050,...,0,0,6,0,0,1,24,0,3,0
sample_79,215,1,291,850,588,28,93,159,771,1562,...,0,0,3,0,0,0,18,0,0,0
sample_80,288,1,407,963,658,15,99,158,930,1737,...,0,0,3,0,0,0,19,0,2,0

In [6]:
# Get the count of NaN values in each column
nan_counts = df.isnull().sum()

# Sum the NaN counts across all columns
total_nan_count = nan_counts.sum()

# Print the total NaN count
print("Total NaN count:", total_nan_count)

Total NaN count: 0

In [7]:
# Count the number of features with at least one zero
num_features_with_zeros = (df.iloc[:, 1:] == 0).any().sum()

# Print the count
print(f"Number of features with at least one zero: {num_features_with_zeros}")

Number of features with at least one zero: 34932