In [1]:
import pandas as pd
import numpy as np

In [2]:
df_features = pd.read_csv("data1.csv", index_col=0)
df_targets = pd.read_csv("Dignosis.csv", index_col=0)

In [3]:
df_features.head()

,ENSG00000000003,ENSG00000000005,ENSG00000000419,ENSG00000000457,ENSG00000000460,ENSG00000000938,ENSG00000000971,ENSG00000001036,ENSG00000001084,ENSG00000001167,...,ENSG00000283690,ENSG00000283691,ENSG00000283692,ENSG00000283693,ENSG00000283694,ENSG00000283695,ENSG00000283696,ENSG00000283697,ENSG00000283698,ENSG00000283699
sample_01,124,2,300,398,421,18,84,206,1024,883,...,0,0,2,0,0,2,17,0,2,0
sample_02,111,0,374,351,502,32,278,238,973,1975,...,0,0,1,0,0,2,13,0,4,0
sample_03,135,3,265,395,525,28,177,214,990,1580,...,0,0,2,0,0,1,6,0,1,0
sample_04,122,1,420,496,365,23,173,243,1149,967,...,0,0,4,0,0,1,18,0,2,0
sample_05,209,0,439,917,631,67,428,189,1161,1368,...,0,0,0,0,0,1,31,0,7,0

In [4]:
df_targets.head()

             Disese Group
Sample Name
sample_01               0
sample_02               0
sample_03               0
sample_04               0
sample_05               0

In [5]:
X = df_features
y = df_targets['Disese Group']

Feature_Names = X.columns

# Calculate the Pearson correlation coefficient between each feature and the target variable
correlations = X.apply(lambda feature: np.abs(feature.corr(y)))

# Sort the features based on their absolute correlation values
sorted_features = correlations.sort_values(ascending=False)

# Select the top k features with the highest absolute correlation
k = 200  # Number of top features to select
selected_features = sorted_features[:k].index.tolist()

# Create a new DataFrame with the selected features and target variable
new_df = X[selected_features].copy()
new_df.loc[:, 'Disese Group'] = y.values

# Print the new DataFrame
print(new_df.head())

           ENSG00000230606  ENSG00000112877  ENSG00000254469  ENSG00000228327  \
sample_01                9              211              203              101
sample_02               30              267              139              114
sample_03                5              194              159              171
sample_04                8              191              146              147
sample_05               15              353              228              231

           ENSG00000237007  ENSG00000165171  ENSG00000249238  ENSG00000100297  \
sample_01                4               20              157              272
sample_02                1                8              526              147
sample_03                1               12               62              165
sample_04                3                9               53              281
sample_05                5               41               79              380

           ENSG00000279742  ENSG00000147536  ...  ENSG00000230310  \
sample_01               23               78  ...                4
sample_02               43               44  ...                2
sample_03               26               57  ...                3
sample_04               18               61  ...                2
sample_05               32               92  ...                4

           ENSG00000128928  ENSG00000226711  ENSG00000169682  ENSG00000259138  \
sample_01             1247              581               65               10
sample_02             1330              516               82                3
sample_03             1093              554               70                2
sample_04             1270              556               62               14
sample_05             1855              739               99               18

           ENSG00000265728  ENSG00000224261  ENSG00000141736  ENSG00000258944  \
sample_01               12               15              657               40
sample_02               23               37              653               51
sample_03                8               26              647               38
sample_04                7               22              603               43
sample_05                6               39             1169               55

           Disese Group
sample_01             0
sample_02             0
sample_03             0
sample_04             0
sample_05             0

[5 rows x 201 columns]

In [6]:
new_df.to_csv("data3.csv")